.social__nav {
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.social__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social__nav ul li a {
  color: var(--black-color);
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: auto;
}

.social__nav ul li a:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .social__nav ul {
    gap: 4rem;
  }
  .social__nav ul li a svg {
    width: 4.2rem;
    height: 4.2rem;
  }
}
