.navigation {
  display: flex;
  max-width: 160rem;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.navigation__img {
  width: 45%;
  max-width: 18rem;
}

.nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  /* font-weight: 500; */
}

.nav-item--red {
  background-color: var(--primary-color);
}

.nav-item a {
  position: relative;
  color: var(--black-color);
}

.nav-item--red a {
  color: var(--white-color);
}

/* Línea animada */
.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Hover */
.nav-item a:hover::after {
  transform: scaleX(1);
}

/* Activo */
.nav-item a.active::after {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .navigation {
    padding: 4rem;
  }
  .nav {
    width: 70%;
    max-width: 55rem;
  }
}
