header {
  padding: 2rem;
  max-width: 160rem;
  margin: 0 auto;
}

.hero,
.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  border-top: solid var(--white-color) 1px;
  border-bottom: solid var(--white-color) 1px;
  padding: 4rem 0;
  max-width: 140rem;
  margin: 0 auto;
}

.hero__img {
  height: 45rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: var(--white-color);
  font-size: 1.8rem;
  text-align: center;
}

.projects-preview,
.services-preview {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
  margin: 0 auto;
}
.services-preview {
  max-width: 140rem;
}

.title-box {
  display: grid;
  gap: 2rem;
}

.title-box p {
  text-align: center;
}

.stats__descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
  font-size: 1.8rem;
}
.stats__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

/* -------------------------------- */
/* MEDIA QUERIES */

@media (min-width: 768px) {
  header {
    padding: 4rem 2rem;
  }

  .hero,
  .stats,
  .services-preview {
    padding: 12rem 0;
    gap: 6rem;
  }

  .hero__text {
    text-align: left;
  }

  .projects-preview {
    padding: 7rem 0 0 0;
  }

  .title-box h2 {
    text-align: center;
  }

  .stats__descripcion {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .stats__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}
