@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: #e30613;
  --black-color: #1c1c1c;
  --white-color: #f8f8f8;

  --font-par: "Inter", sans-serif;
  --font-tit: "Playfair Display", serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: var(--font-par);
  font-size: 1.8rem;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
section {
  padding: 1rem 0;
}

h2,
h3,
h4 {
  font-family: var(--font-tit);
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.2rem;
}

.btns-box {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
}

/* UTILITIES */

.u--red-bg {
  background-color: var(--primary-color);
}

.u--red {
  color: var(--primary-color);
}

.u--white-bg {
  background-color: var(--white-color);
}

.u--white {
  color: var(--white-color);
}

.u--black-bg {
  background-color: var(--black-color);
}

.u--grid-2,
.u--grid-4,
.u--grid-6 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.u--grid-2 {
  gap: 4rem;
}
.u--grid-4 {
  gap: 2rem;
}

.u--grid-6 {
  gap: 2rem;
}

.u--max-w {
  max-width: 140rem;
}

@media (min-width: 480px) {
}

/* Tableta normal / paisaje */
@media (min-width: 768px) {
  html {
    font-size: 66.5%;
  }

  /* section {
    padding: 2rem 4rem;
  } */

  h2 {
    text-align: left;
  }

  .btns-box {
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }
  .u--grid-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .u--grid-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .u--grid-6 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* Escritorio */
@media (min-width: 1024px) {
  html {
    font-size: 70%;
  }
  .u--grid-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

/* Pantallas grandes */
@media (min-width: 1280px) {
  html {
    font-size: 75%;
  }
  .u--grid-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
